.calculator-body {
    background-color: hsla(235, 58%, 78%, 0.8);
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: end;
    row-gap: 1px;
    column-gap: 1px;
    margin: 0px 0px 0px 0px;
}

.calculator-button {
    background-color: hsla(0, 0%, 94%, 0.8);
    color: hsla(0, 100%, 3%, 0.8);
    border: 1px solid hsla(0, 0%, 72%, 0.8);
    font-size: 2rem;
    padding: 20px 5px;
    margin: 0px 0px 0px 0px;
}
