/*메인버튼부*/
.calculator-body {
    height: 380px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 0px;
    column-gap: 0px;
    margin: 5px 0px 0px 0px;
    justify-content: space-around;
    align-content: end;
    border-radius: 10px;
    /*background-color: antiquewhite;*/
}

/*출력창*/
.calculator-display {
    border-radius: 10px;
    padding: 10px 10px 0px 0px;
    margin: 0px 0px 0px 13px;
    min-height: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    line-height: 30px;
    /*background-color: aliceblue;*/
}

.calculator-button-operator, .calculator-button-clear, .calculator-button-number {
    user-select: none;
    box-shadow: 1px 1px 1px var(--buttonshadow), -1px -1px 1px var(--buttonshadow);
    transition: transform 0.1s ease,, box-shadow 0.1s ease;
    pointer-events: auto;
}

    .calculator-button-operator:active, .calculator-button-clear:active, .calculator-button-number:active {
        box-shadow: 2px 2px 3px var(--buttonshadow-active), -2px -2px 3px var(--buttonshadow-active);
        transform: scale(0.98);
    }

.calculator-button-operator {
    height: 65px;
    width: 65px;
    font-size: 2rem;
    font-weight: bolder;
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30%;
}

.calculator-button-clear {
    height: 65px;
    width: 65px;
    font-size: 2rem;
    font-weight: bolder;
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30%;
}

.calculator-button-number {
    height: 65px;
    width: 65px;
    font-size: 2rem;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30%;
}

textarea {
    border: none;
    resize: none;
    text-align: right;
    box-sizing: border-box;
    background-color: hsl(var(--bg-hue), var(--bg-sat), var(--bg-light));
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
}


/*경고*/
.warning {
    width: 330px;
    height: 30px;
    font-size: 1rem;
    opacity: 0.7;
    color: var(--warningMessage);
}

/*입력*/
.display-input {
    width: 330px;
    height: 47px;
    font-weight: bold;
    overflow-y: hidden;
    color: hsl(var(--displayText-hue), var(--displayText-sat), var(--displayText-light));
}

.display-normal {
    font-size: 2.5rem;
}

.display-small {
    font-size: 1.5rem;
}

.display-xsmall {
    font-size: 1.3rem;
}

/*계산결과*/
.display-result {
    width: 330px;
    height: 47px;
    font-weight: bold;
    overflow-y: hidden;
    color: var(--displayResult);
}

/*계산과정*/
.display-process {
    width: 330px;
    min-width: 330px;
    max-width: 330px;
    height: 160px;
    opacity: 0.8;
    color: hsl(var(--displayText-hue), var(--displayText-sat), var(--displayText-light));
    text-align: left;
}

.process-normal {
    font-size: 1.8rem;
}

.process-small {
    font-size: 1.5rem;
   
}

.process-xsmall {
    font-size: 1.3rem;
}

@media (max-height: 720px) {
    .calculator-body {
        height: 370px;
    }

    .calculator-display {
        line-height: 20px;
        padding: 10px 10px 0px 0px;
    }

    /*경고*/
    .warning {
        font-size: 0.7rem;
        opacity: 0.7;
    }

    /*입력*/
    .display-input {
        font-weight: bold;
    }

    .display-normal {
        font-size: 2rem;
    }

    .display-small {
        font-size: 1.3rem;
    }

    .display-xsmall {
        font-size: 1rem;
    }

    /*계산결과*/
    .display-result {
        font-weight: bold;
    }

    /*계산과정*/
    .display-process {
        opacity: 0.8;
        height: 100px;
    }

    .process-normal {
        font-size: 1.5rem;
    }

    .process-small {
        font-size: 1.3rem;
    }

    .process-xsmall {
        font-size: 1rem;
    }
}
